<a href="https://colab.research.google.com/github/mknoa/Amma-jan/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data type formating **bold text**

In [ ]:
num1=20
num2=30
print(num1+num2)

50

In [ ]:
print(f"{num1}+{num2}={num1+num2}")

20+30=50

In [ ]:
print("monzurulKarim")
print("018220459")

monzurulKarim
018220459

In [ ]:
print("monzurulKarim",end="  ")
print("018220459")

monzurulKarim  018220459

Take input of length and width of a rectangle and check whether it is Square or not.

In [ ]:
num1= int(input("first Intiger :"))
num2=int(input("second Intiger :"))
num3=int(input("third Intiger :"))
if (num1>num2)and (num1>num3):
    largest=num1
elif (num2>num1)and(num2>num3):
    largest=num2
else:
    largest=num3
print("the largest number is",largest)

first Intiger :50
second Intiger :49
third Intiger :39
the largest number is 50

student attending less than 75% of class held will not be allowed to sit for the exame.

In [ ]:
class_held= float(input("Number of Classes held :"))
attendence= float(input("Number of Classes attended :"))
attendence_ratio=(attendence/class_held) *100
if attendence_ratio >= 75:
  print(attendence_ratio)
  print("Allowed")
else:
  print(attendence_ratio)
  print("Not Allowed")

Number of Classes held :120
Number of Classes attended :75
62.5
Not Allowed

Rules for Greading System:

In [ ]:
marks=float(input("Enter your Marks:"))
if marks <= 25:
  print("Grade F")
elif marks>=26 and marks<=35:
  print("Crash Mark Grade E")
elif marks>=36 and marks<=45:
  print("Grade- D Pass")
elif marks>=46 and marks<=55:
  print("Grade C")
elif marks>=56 and marks<=65:
  print("Grade B")
elif marks>=66 and marks<=75:
  print("Grade A")
else:
  print("grade A+")

For loop

In [ ]:
letters = "Monzurul karim"
for x in letters:
  print(x)

M
o
n
z
u
r
u
l

k
a
r
i
m

In [ ]:
marks=[40,45,60,55,70,]
for x in marks:
  print(x)

40
45
60
55
70

In [ ]:
marks=[40,45,60,55,70,]
total=0
for x in marks:
    total=total+x
    print(total,x)
print(total)

40 40
85 45
145 60
200 55
270 70
270

In [ ]:
for i in range(10,100,20):

  print(i,'flex')

10 flex
30 flex
50 flex
70 flex
90 flex

In [ ]:
for x in range (10,1001,10):
sum=0,

In [ ]:
hall=11.25
kit=8.25
bed=13.10
liv=10.25
bath=6.5
areas=[hall,kit,bed,liv,bath]
print("List of area","=",areas)

List of area = [11.25, 8.25, 13.1, 10.25, 6.5]

In [ ]:
number=int(input("enter the number :"))
for count in range(1,11):
  product=(number*count)
  print(number,"X",count, "=",product)

enter the number :6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [ ]:
number=int(input("enter Number :"))
for count in range(6):
  sum=number+count
  if count==4:break
  else:
    print("finished")
  print("the sum is",sum)

enter Number :5
finished
the sum is 5
finished
the sum is 6
finished
the sum is 7
finished
the sum is 8

In [ ]:
nums=(2,4,6,8,)
sum_num=0
for num in nums:
  sum_num=sum_num+num
  #print(num)
  print(sum_num)

2
6
12
20

In [ ]:
i=0
while i<11:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:

i=0
while i<11:
  print(i)
  if i ==6:
    break
  else:
    print('Alright')
    i+=1

0
Alright
1
Alright
2
Alright
3
Alright
4
Alright
5
Alright
6

In [ ]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
number1=105
number2=185
print(number1 if number1>number2 else number2)

185

In [ ]:
num1=-185
num2=-90
num3=-10
if num1 > num2 and num1 > num3:
  print("Number 1 :",num1)
elif num2>num1 and num2>num3:
  print("Number 2 :",num2)
else:
  print("Number 3 :",num3)

Number 3 : -10

In [ ]:
check="a"
if check=='a' or check=='e' or check=='i'or check=='o'or check=='u':
  print("the letter is a Vowal")
else:
  print("the letter is a consonent")

the letter is a Vowal

In [ ]:
marks=int(input("Enter the Marks:"))
if marks>=81 and marks<=100:
  print("You have achieved A+")
elif marks>71 and marks<=80:
  print("You have achieved A")
elif marks>60 and marks<=70:
  print("You have achieved A-")

Enter the Marks:89
You have achieved A+

In [ ]:
i=1
while i<=50:
  print(i)
  i=i+5
print("end")

1
6
11
16
21
26
31
36
41
46
end

In [ ]:
n=int(input("Enter the limit:"))
sum=0
i=1
while i<=n:
  sum=sum+i
  #print(i)
  i=i+2
  print("total:",sum)
print("the total is:",sum)

Enter the limit:20
total: 1
total: 4
total: 9
total: 16
total: 25
total: 36
total: 49
total: 64
total: 81
total: 100
the total is: 100

Three Parts of While loop are: Initilization: Loop Starting Point;
Condition : How far the Loop will be true ? i.e. The Limit of running the Loop;Incrimental or dicrimental, i.e.How the body of the loop will be changed ?

In [ ]:
number=int(input("give the number:"))
i=10
while i>=1:
  product=number*i
  print(number,"X",i,"=",product)
  i=i-1

give the number:3
3 X 10 = 30
3 X 9 = 27
3 X 8 = 24
3 X 7 = 21
3 X 6 = 18
3 X 5 = 15
3 X 4 = 12
3 X 3 = 9
3 X 2 = 6

In [ ]:
num=int(input("enter a number"))
count=1
while count <=10:
  product=num*count
  print(num,"X",count,"=",product)
  count=count+1

enter a number10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [ ]:
languages=["python","java","swift","C","C++"]
for language in languages:
  if language=="swift":
    break
  print(language)

python
java

In [ ]:
languages=["python","java","swift","C","C++"]
for language in languages:
  if language=="swift":
    continue
  if language == "C++":
    break
  print(language)

python
java
C

In [ ]:
sum=0
i=1
while i <=10 :
  sum=sum+i
  i+=1
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
sum=0
i=0
while i <=10:
  sum=sum+i
  i+=1
print(sum)

55